#p {
	font-family: papyrus;
	font-size: 30px;
	text-align: center;
}

#p2{
	text-align: center;
	position: absolute;
	top: 80%;
	font-size: 20px;
}

h1 {
	text-align: center;
	font-size: 100px;
}

button {
	position: absolute;
	right: 44%;
	padding: 20px;
	border-radius: 15px;
}

body {
	background-image: url("Vin.webp");
	background-repeat: no-repeat;
	background-size: cover;
}

